<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-za">
    <head>
        <title>ADAM Help - #title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="#cssfile" />
        <link rel="stylesheet" type="text/css" href="#templatecss" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
        <script src="display.js?#hash(display.js)"></script>
        <script async src="https://cse.google.com/cse.js?cx=017047591166674552263:0idgv_vajd0"></script>
    </head>
    <body>
        <header><img src="logo.png" alt="ADAM"></header>
        <nav>#menu</nav>
        <article>
            <div class="gcse-search" data-linkTarget="_self"></div>
            <div id="bodycontainer">#body</div>
            <div class="gcse-search" data-linkTarget="_self"></div>
        </article>
    </body>
</html>
